doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel ='stylesheet', href='/stylesheets/bootstrap.css')
    script(src='/jquery/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
 body
  div.container
   nav.navbar.navbar-default
    div.container-fluid
     div.navbar-header
     button.navbar-toggle(data-toggle="collapse" data-target="#myNavbar" type='button')
      span.icon-bar
      span.icon-bar
      span.icon-bar      
     a.navbar-brand(href='/')=title
     div.collapse.navbar-collapse#myNavbar
       ul.nav.navbar-nav
        li 
         a(href='/') Home
 block content